* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 0;
}
.nav {
    position: fixed;
    z-index: 1000;
    height: 10%;
    width: 100%;
    background-color: #247ba0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.texto-nav {
    color: #e8f1f2;
    font-size: 180%;
}
.texto-nav:hover {
    color: #1b98e0;
    -webkit-text-stroke: 1px #e8f1f2;
}
.logo-nav {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20%;
}
.logo {
    width: 100%;
    height: 90%;
    background-image: url(mixer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 10%;
    margin-bottom: 3%;
}
.icone-logo {
    color: #e8f1f2;
    border-left: 2px solid #e8f1f2;
    border-right: 2px solid #e8f1f2;
    font-size: 220%;
    position: relative;
    padding-left: 40%;
    padding-right: 40%;
}
.box-icon-nav {
    width: 30%;
    height: 80%;
    margin-left: 60%;
    display: flex;
    align-items: center;
    gap: 8%;
}
.icone-nav {
    color: #e8f1f2;
    border-left: 2px solid #e8f1f2;
    font-size: 10%;
    position: relative;
    padding-left: 5%;
}


/* --------- MAIN -------- */ 

.container-fundo {
    width: 100%;
    height: 90%;
    top: 5%;
    position: absolute;
}
.ondas {
    position: fixed;
    width: 117%;
    bottom: 0;
}
.onda-3 {
    animation: onda3 4s 0.7s ease-in-out infinite alternate;
}
@keyframes onda3 {
    to {
        transform: translateX(-160px);
    }
}
.onda-2 {
    animation: onda2 4s 1.2s ease-in-out infinite alternate;
}
@keyframes onda2 {
    to {
        transform: translateX(-180px);
    }
}
.onda-1 {
    animation: onda1 4s ease-in-out infinite alternate;
}
@keyframes onda1 {
    to {
        transform: translateX(-200px);
    }
}
.container-blur {
    width: 70%;
    height: 150%;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15%;
    top: 15%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}
.box-desc {
    margin-top: 5%;
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.descs {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    text-align: center;
}
.icone-desc {
    color: #1b98e0;
    font-size: 2000%;
    margin-right: 5%;
}
.divisor{
    width: 90%;
    height: 0.5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #1b98e0;
    position: relative;
}
.box-modelo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-garrafa {
    font-size: 250%;
    margin-top: 15%;
    -webkit-text-stroke: 0.7px #e8f1f2;
}
.box-desc-garrafa {
    width: 80%;
    height: 60%;
    position: absolute;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container-garrafa {
    width: 45%;
    height: 50%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img-garrafa-1-3 {
    width: 80%;
    height: 50%;
    border-radius: 10px;
    margin: 10%;
    padding: 10%;
    margin-bottom: 20%;
    background-image: url(1.3.png);
    background-size: cover;
    background-position: 50%;
    border: 2px solid #1b98e0;
}
.img-garrafa-1-6 {
    width: 80%;
    height: 50%;
    border-radius: 10px;
    margin: 10%;
    padding: 10%;
    margin-bottom: 20%;
    background-image: url(1.6.png);
    background-size: cover;
    background-position: 65%;
    border: 2px solid #1b98e0;
}
.img-garrafa-dose {
    width: 80%;
    height: 50%;
    border-radius: 10px;
    margin: 10%;
    padding: 10%;
    margin-bottom: 20%;
    background-image: url(dose.png);
    background-size: cover;
    background-position: 68%;
    border: 2px solid #1b98e0;
}
.container-blur-garrafa {
    width: 70%;
    height: 90%;
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15%;
    top: 10%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}
.conteudo-garrafa {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.box-garrafa {
    width: 50%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.garrafa-personalizavel {
    width: 90%;
    height: 83%;
    background-color: #e8f1f2;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}
.box-cores {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.box-cor-azul {
    width: 10%;
    height: 90%;
    background-color: #565BBE;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}
.box-cor-rosa {
    width: 10%;
    height: 90%;
    background-color: #FF57EE;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}
.box-cor-verde {
    width: 10%;
    height: 90%;
    background-color: #A3E263;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}
.box-cor-marrom {
    width: 10%;
    height: 90%;
    background-color: #D9754B;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}
.box-cor-lilas {
    width: 10%;
    height: 90%;
    background-color: #EDA3E1;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}
.box-cor-preto {
    width: 10%;
    height: 90%;
    background-color: #292929;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}

.personalizacao {
    width: 50%;
    height: 90%;
    position: relative;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.visualizador {
    width: 90%;
    height: 70%;
    background-color: #e8f1f2;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}
.inserir {
    width: 90%;
    height: 10%;
    background-color: #1b98e0;
    border: 1px solid #e8f1f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box-exportar {
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.baixar {
    width: 45%;
    height: 90%;
    background-color: #e8f1f2;
    border-radius: 10px;
    border: 1px solid #247ba0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}