* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
.container-selecionar {
    position: fixed;
    width: 100%;
    height: 15%;
    background-image: linear-gradient( aqua, darkblue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.box-selecionar {
    width: 320px;
    height: 80px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid white;
}
.box-selecionar:hover{
    background-color: aqua;
    border: 2px solid black;
}
.texto-box {
    color: black;
    font-size: 30px;
}
.container-garrafa{
    position: fixed;
    width: 100%;
    height: 85%;
    top: 15%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}
.box-garrafas {
    width: 40%;
    height: 60%;
    background-image: url(transferir2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0 0 5px aqua);
    transform-origin: bottom ;
    animation: animate 2s linear infinite;
}
.box-garrafas1 {
    width: 40%;
    height: 60%;
    background-image: url(transferir.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0 0 5px aqua);
    transform-origin: bottom ;
    animation: animate 2s linear infinite;
}
@keyframes animate 
{
    0% 
    {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    25% 
    {
        transform: rotate(15deg);
    }
    50% 
    {
        transform: rotate(0deg);
    }
    75% 
    {
        transform: rotate(-15deg);
    }
    100% 
    {
        filter: hue-rotate(360deg);
        transform: rotate(0deg);
    }
}